<section id="partners">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{data.header}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                  <f:if condition="{data_tx_gelblau_partners}">
                    <f:for each="{data_tx_gelblau_partners}" as="partner" iteration="i">
                      <li class="{f:if(condition:'{i.isEven}', then:'timeline-inverted')}">
                          <div class="timeline-image">
                            <f:if condition="{partner.data.tx_gelblau_link}">
                              <f:then>
                                <f:link.typolink parameter="{partner.data.tx_gelblau_link}" target="_blank">
                                  <f:image image="{partner.data_tx_gelblau_logo.0}" alt="{partner.data_tx_gelblau_logo.0.alternative}" class="img-circle img-responsive" />
                                </f:link.typolink>
                              </f:then>
                              <f:else>
                                <f:image image="{partner.data_tx_gelblau_logo.0}" alt="{partner.data_tx_gelblau_logo.0.alternative}" class="img-circle img-responsive" />
                              </f:else>
                            </f:if>
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                <h4>{partner.data.tx_gelblau_header}</h4>
                                <f:if condition="{partner.data.tx_gelblau_subheader}">
                                  <h4 class="subheading">{partner.data.tx_gelblau_subheader}</h4>
                                </f:if>
                              </div>
                              <div class="timeline-body text-muted">
                                    <f:format.html parseFuncTSPath="lib.parseFunc_RTE">{partner.data.tx_gelblau_description}</f:format.html>
                              </div>
                          </div>
                      </li>
                    </f:for>
                  </f:if>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4><br><f:translate key="join_us" extensionName="gelblau" /></h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>