<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="main">

  <div class="container">
    <div class="row center-align">
      <div class="col-lg-12">
        <h3 class="section-subheading text-muted">
          Gel[:b]lau – це не просто журнал. Це перше україномовне періодичне видання за кордоном такого формату.<br/>
          Усі ми розуміємо наскільи важливо мати такий чудовий журнал, то ж команда часопису та видавник радіють кожному благодійнику!<br/>
          Іноді навіть 5-10 євро можуть допомогти створити диво! Тож робімо добро разом!
        </h3>
      </div>
    </div>
    <f:form action="create" object="{newOrder}" objectName="newOrder">
    <div class="row left-align">
      <div class="col-lg-3 col-lg-offset-3">
        <div class="modal-body">
          <h4>Ваші дані:</h4>
          <div class="form-group row">
            <div class="col-lg-12">
              <f:form.textfield property="clientEmail" type="email" class="form-control" id="email" placeholder="Email" required="true"/>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-12">
              <f:form.textfield property="clientName" type="text" class="form-control" id="name" placeholder="Ім'я та Прізвище" />
            </div>
          </div>
          <div class="form-group row">
            <div class="col-lg-12">
              <f:form.textfield property="clientAddress" type="text" class="form-control" id="address" placeholder="Адреса" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="modal-body">
          <div class="form-group row">
            <label for="money" class="col-lg-5 col-form-label">Сума: €</label>
            <div class="col-lg-4">
              <f:form.textfield property="money" type="number" class="form-control" id="money" style="height:20px;"/>
            </div>
          </div>
          <div class="form-check">
            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="sofortRadio" value="option2" checked />
                                <f:image src="EXT:gelblau_ausgabe/Resources/Public/Images/sofort.png" />
                            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="paypalRadio" value="option1" />
                                <f:image src="EXT:gelblau_ausgabe/Resources/Public/Images/paypal.png" />
                            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="directRadio" value="option1" />
                                Самостійний переказ на наш рахунок
                            </label>
            <div class="collapse" id="directCollapse">
              <div class="panel panel-default">
                <div class="panel-body">
                  <strong>Zahlungsempfänger:</strong><br> Ukrainisches Atelier für Kultur & Sport e. V.
                  <br>
                  <strong>IBAN:</strong> DE17600501010002857079<br>
                  <strong>Kreditinstitut:</strong> BW Bank Stuttgart<br>
                  <strong>Verwendungszweck (bspw.):</strong><br> Für satzungsgemäße Ziele / Zwecke<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row center-align">
      <div class="col-lg-8 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Замовити</button>
        <div class="form-check">
          <label class="form-check-label">
            <f:form.checkbox property="invoice" value="1" class="form-check-input" id="invoice" /> Отримати довідку про переказ коштів*
          </label>
        </div>
      </div>
    </div>
    </f:form>
    <div class="row center-align">
      <div class="col-lg-12">
        <p style="font-size:12px;">
          *Рішенням Finanzamt IV Stuttgart-Körperschaften зареєстроване об’єднання “Українське ательє культури та спорту” уповноважене надавати довідку про отримання пожертви згідно §60, Abs. 1 AO ФРН, яка визнається податковою службою Німеччини.
        </p>
      </div>
    </div>
  </div>

  <script type="text/javascript">
        $(document).ready(function() {
          $('ul.nav li.active').removeClass('active');
          $('#supportMenu').addClass('active');
        });

        $("input:radio[name ='exampleRadios']").change(function () {
            if ($("#directRadio").is(":checked")) {
                $('#directCollapse').collapse('show');
            } else {
                $('#directCollapse').collapse('hide');
            }
        });

        $("#invoice").click(function () {
            if (this.checked) {
                $('#name').prop('required', true);
                $('#address').prop('required', true);
            } else {
                $('#name').prop('required', false);
                $('#address').prop('required', false);
            }
        });
  </script>
</f:section>

</html>