<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="List" />
<f:section name="main">
    <f:if condition="{downloaded}">
        <p class="alert alert-downloaded"><f:translate key="order_downloaded_notice_1" extensionName="gelblau_ausgabe" /> <a href="mailto:info@gelblau.net">info@gelblau.net</a></p>
    </f:if>
    <f:if condition="{ordered}">
        <p class="alert alert-downloaded"><f:translate key="order_ordered_notice" extensionName="gelblau_ausgabe" /></p>
    </f:if>
    <f:for each="{ausgabes}" as="ausgabe">
		<div class="col-md-4 col-sm-6 ausgabe-item">
			<f:link.action action="show" arguments="{ausgabe: ausgabe}" class="ausgabe-link">
                <div class="ausgabe-hover">
                    <div class="ausgabe-hover-content">
                        <i class="fa fa-arrow-circle-o-down fa-4x"></i>
                    </div>
                </div>
				<f:image src="{ausgabe.frontImage.originalResource.publicUrl}" class="img-responsive" />
			</f:link.action>
            <div class="ausgabe-caption">
                <f:link.action action="show" arguments="{ausgabe: ausgabe}">
                    <h4><f:translate key="ausgabe" extensionName="gelblau_ausgabe" />{ausgabe.name}</h4>
                </f:link.action>
                <p class="text-muted">{ausgabe.date -> f:format.date()}</p>
            </div>
        </div>
    </f:for>
</f:section>
</html>