<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Show" />
<f:section name="main">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class="modal-body">
          <h2><f:translate key="ausgabe" extensionName="gelblau_ausgabe" />{ausgabe.name}</h2>
          <div id="flipbook">
            <f:for each="{ausgabe.previewImages}" as="image">
              <f:image src="{image.originalResource.publicUrl}" class="img-responsive img-centered" width="400" height="500" />
            </f:for>
          </div>
        </div>
      </div>
    </div>
    <div class="row left-align">
      <div class="col-lg-3 col-lg-offset-3">
        <div class="modal-body">
          <h4><f:translate key="ausgabe_content" extensionName="gelblau_ausgabe" /></h4>
          <ul>
            <f:for each="{contentList}" as="item">
              <li>{item}</li>
            </f:for>
          </ul>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="modal-body">
          <f:form action="download" arguments="{ausgabe: ausgabe}">
          <div class="form-group">
            <label for="price" style="float:left;margin-right:5px;"><f:translate key="ausgabe_support_us" extensionName="gelblau_ausgabe" /></label>
            <div class="input-group">
              <f:form.textfield name="money" type="number" class="form-control" style="height:20px;" id="price" placeholder="0+" />
            </div>
          </div>
          <p>
              <button id="downloadButton" type="submit" class="btn btn-primary"><i class="fa fa-arrow-circle-o-down"></i> <f:translate key="ausgabe_download" extensionName="gelblau_ausgabe" />
                <p><f:translate key="ausgabe_size" extensionName="gelblau_ausgabe" /> {ausgabe.pdf.originalResource.originalFile.properties.size -> f:format.bytes()}</p>
                <p><f:translate key="ausgabe_downloaded" extensionName="gelblau_ausgabe" /> {ausgabe.downloadCount}</p>
              </button>
            <a id="pdfLink" href="fileadmin{ausgabe.pdf.originalResource.originalFile.identifier}" download hidden/>
          </p>
          </f:form>
          <p>
            <f:if condition="{ausgabe.amountLeft} > 0">
              <f:then>
                <f:link.action action="new" controller="Order" arguments="{ausgabe: ausgabe}">
                  <button type="button" class="btn btn-primary">
                    <span class="magazine-icon"></span><f:translate key="ausgabe_order" extensionName="gelblau_ausgabe" /> ({ausgabe.price}€)
                    <p><f:translate key="ausgabe_printed" extensionName="gelblau_ausgabe" /></p>
                    <p><f:translate key="ausgabe_left" extensionName="gelblau_ausgabe" /> {ausgabe.amountLeft}</p>
                  </button>
                </f:link.action>
              </f:then>
              <f:else>
                <a>
                  <button type="button" class="btn btn-primary" disabled>
                      <span class="magazine-icon"></span><f:translate key="ausgabe_order" extensionName="gelblau_ausgabe" /> ({ausgabe.price}€)
                      <p><f:translate key="ausgabe_printed" extensionName="gelblau_ausgabe" /></p>
                      <p><f:translate key="ausgabe_left" extensionName="gelblau_ausgabe" /> {ausgabe.amountLeft}</p>
                    </button>
                </a>
              </f:else>
            </f:if>
          </p>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="{f:uri.resource(path: 'JavaScript/ausgabe_show.js')}"></script>
</f:section>

</html>