
<table class="tx-gelblau-ausgabe" >
	<tr>
		<td>
			<f:translate key="tx_gelblauausgabe_domain_model_ausgabe.name" />
		</td>
		<td>
			{ausgabe.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gelblauausgabe_domain_model_ausgabe.front_image" />
		</td>
		<td>
			{ausgabe.frontImage.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gelblauausgabe_domain_model_ausgabe.date" />
		</td>
		<td>
			{ausgabe.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gelblauausgabe_domain_model_ausgabe.pdf" />
		</td>
		<td>
			{ausgabe.pdf.originalResource.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gelblauausgabe_domain_model_ausgabe.content" />
		</td>
		<td>
			{ausgabe.content}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gelblauausgabe_domain_model_ausgabe.download_count" />
		</td>
		<td>
			{ausgabe.downloadCount}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gelblauausgabe_domain_model_ausgabe.amount_left" />
		</td>
		<td>
			{ausgabe.amountLeft}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_gelblauausgabe_domain_model_ausgabe.preview_images" />
		</td>
		<td>
			{ausgabe.previewImages}
		</td>
	</tr>
</table>