<footer>
    <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Gel[:b]lau 2017</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://www.facebook.com/gelblau.ua/" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.youtube.com/channel/UCSWALV3axExTl-71sa8TJUg" target="_blank"><i class="fa fa-youtube"></i></a>
                        </li>
                        <li><a href="mailto:red@gelblau.net"><i class="fa fa-envelope"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>
                            <f:link.page pageUid="8">Impressum & Datenschutz</f:link.page>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
</footer>